*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 100%;
    padding: 10px;
    min-height: 100vh;
    background: radial-gradient(circle at center, yellow, pink);
}


.todo{
   width: 100%;
   max-width: 600px;
   min-height: 300px;
   margin: 60px auto 10px;
   background-color: #fff;
   border-radius: 25px;

}

.todo h2 {
    display: flex ;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    color: darkgoldenrod;
    margin-top: 200px;
}
img{
     width: 80px;
     margin-bottom: 10px  ;
}

.inputbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    position: relative;
  
}

input{
    flex: 1 ;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    border: none;
    background: rgb(244, 201, 208);
    margin: 30px;
    padding: 20px;
    font-weight: bold;


}

button {
    font-size: 15px;
    outline: none;
    border: none;
    background-color: rgb(240, 215, 72);
    padding: 20px 40px;
    border-radius: 30px;
     position: absolute;
     right: 25px;
      cursor: pointer;

}

ul li {

    font-size: 16px;
    padding: 10px 8px 28px 50px;
    list-style: none;
    cursor: pointer;
    user-select: none;
    position: relative;
}

/* ul li::before {
    text-align: center;
    content: '';
    position: absolute;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    background-image: url(images/download\ \(2\).png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
} */


ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url("images/download (2).png");
    background-size: cover;
    background-position: center;
    top: 50%;
    left: 8px;
    transform: translateY(-85%);
}

ul li.checked {
    color: gray;
    text-decoration: line-through;
}

ul li.checked::before {
   background-image: url("images/download\ \(1\).png");
}

ul li span {
    position: absolute;
    right: 30px;
    font-size: 25px;
    top: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px ;
    text-align: center;
    border-radius: 50% ;
}

ul li span:hover {
    background-color: #ff5;
}